{% extends 'base.html' %}
{% block content %}

    <main>
        <section class="py-2">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-left">
                    <div class=" col mb-5">
                        <h2>Mes produits</h2>
                        <hr class="my-5">
                    </div>
                </div>
                <div class="row gx-4 gx-lg-5 row-cols-3 justify-content-center">
                    <div class="col-lg-5 py-2">
                        <p>
                            Vous n'avez aucun produits en ventes !
                        </p>
                    </div>
                </div>
                <div class ="row gx-4 gx-lg-5 row-cols-2 justify-content-center">
                    <div class="col-lg-5 py-5 offset-2">
                        <a href="{% url 'creer-produit' %}"> <button class="btn btn-dark"> Ajouter </button> </a>
                    </div>
                </div>
            </div>
        </section>
    </main>

{% endblock %}