{% extends 'base.html' %}
{% block content %}
    <main class="form-signin m-auto">
      <div class="container col-12 col-xl-10 col-xxl-8 px-2 py-3">
        <div class="row my-5 align-items-center">
          <div class="col-12 text-center text-lg-start">
            {% if nb_panier == 0 %}
              <div class="row my-5 py-5 align-items-center text-center">
                <i class="bi bi-cart4 text-muted" style="font-size:6rem;"></i>
                <small class="py-lg-3 py-2 "> Vous n'avez aucun produit dans votre panier !</small>
              </div>
            {% else %}
              <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {% for image in images%}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ image.image.url }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{image.produit.designation}}</h5>
                                    <!-- Product price-->
                                    {% if image.produit.promotion_prod == 'Oui' %}
                                    <span class="text-muted text-decoration-line-through">{{image.produit.prix_promo}}</span> - {{image.produit.prix_prod}} XAF
                                    {% else %}
                                        {{image.produit.prix_prod}} XAF
                                    {% endif %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center">
                                    <a class="btn btn-outline-dark mt-auto w-20" href="{% url 'detail-produit-vente' image.produit.id %}">Details</a>
                                    <a class="btn btn-outline-danger mt-auto w-70" href="{% url 'supprime-prod-panier' image.produit.id %}"><i class="bi bi-trash3"> </i>Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </main>
{% endblock %}