{% extends 'base.html' %}
{% block content %}
    <main class="form-signin m-auto">
      <div class="container col-xl-10 col-xxl-8 px-2 py-3">
        <div class="row align-items-center">
          <div class="col-lg-10 col-12 text-center text-lg-start offset-lg-1">
            <p> {{ message }}</p>
            <form method="post" class="p-4 p-md-5 border rounded-3 bg-light" novalidate>
              <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
              <h1 class="h3 mb-3 fw-normal">Inscription</h1>

                {% csrf_token %}
                {%for field in form %}
                <div class="row">
                  <label  class="col-4 text-left"> {{ field.label }} </label>
                  {% if field.errors %}
                      <div class="col-8 lg-7">
                        {{ field }}
                      </div>
                      <div class="offset-4 col-8 lg-7 is-invalid text-right">
                        <small class="text-danger">
                          {% for error in field.errors %}
                            {{ error|escape }}
                            <br/>
                          {% endfor %}
                        </small>
                      </div>
                  {% else %}
                    <div class="col-8 lg-7 is-valid">
                      {{ field }}
                      <br/>
                    </div>
                  {% endif %}
                </div>
                {% endfor %}
              <div class="checkbox mb-3">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>

              <button class="w-100 btn btn-lg btn-dark" type="submit">Inscription</button>
              <hr class="my-4">
              <small class="text-muted">En cliquant sur se connecter, vous acceptez nos termes d'utilisations.
                Ou si vous avez deja un compte vous pouvez <a href="{% url 'inscription' %}">vous connecter</a>
              </small>
            </form>
          </div>
        </div>
      </div>
    </main>
{% endblock %}